

img{
    width: 100px;
}

p{
    display: inline;
    font-size: 30px;
}

#text1{
    font-family: 'Fuggles', cursive;
}

#text2{
    font-family: 'Pixelify Sans', cursive;
}

text3{
    font-family: 'Fuggles', cursive;
    font-family: 'Pixelify Sans', cursive;
}

i{
    font-size: 100px !important;
}