*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#headD{

    max-width: 400px;
    margin-left: 5px;
    padding-bottom: 15px;
    /* padding: 7px; */

    border: 1px solid black;
    border-radius: 25px;
}

#headD:hover{

    padding: 0px 5px 5px 0px;


}

#imageD{
    height: 200px;
    background-image: url(https://image.shutterstock.com/image-photo/zigzag-river-flows-between-summer-260nw-377603497.jpg);
    background-size: cover;
    border-radius: 25px 25px 0px 0px;

}

.text{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;

}

#info{
    font-family: 'Fuggles', cursive;
    font-family: 'Pixelify Sans', cursive;
    font-family: 'Roboto', sans-serif;
}

#comment{
    font-size: 40px;
    margin-left: 10px;
}
