*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

main{
    width: calc(100vw - 18rem);
    position: sticky;
    top: 0;
    left: 17rem;
}

p,h1,h2,h3,h4,h5,h6,span{
    font-family: Arial, Helvetica, sans-serif;
}

// NavBar start

@media screen and (min-width: 993px) {
    .sideNav{
        width: 17rem;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: chocolate;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .photo{
            width: 160px;
            height: 160px;
            border-radius: 100%;
            border: 10px solid rgba(248, 156, 81, 0.568);
        }
    
        .navList{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15px;
            margin-top: 20px;
    
            li{
                .headAnchors{
                    color: whitesmoke;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }

        .person{
            display: none;
        }

        .togglerBox{
            display: none;
        }
    }
}

@media screen and (max-width: 992px) {
    .sideNav{
        width: 100vw;
        height: 56px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: chocolate;
        display: flex;
        align-items: center;

        .photo{
            display: none;
        }

        .navList{
            display: none;
        }
        
        .person{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            color: whitesmoke;
            position: absolute;
            left: 20px;       
        }

        .togglerBox{
            width: fit-content;
            height: fit-content;
            position: absolute;
            right: 20px;
            border: 1px solid black;

            .fa-bars{
                font-size: 30px;
                padding: 8px 12px;
            }
        }
    }
}

//NavBar end

// Person start

@media screen and (min-width: 993px) {
    
    #person{
        height: 100vh;
        .personBox{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding-left: 3em;
            
            .personFullName{
                font-size: 60px;
                margin-bottom: 10px;
                .personName{
                    color: chocolate;
                }
            }

            .personLocation{
                font-size: 20px;
                margin-bottom: 3em;
                .personEmail{
                    color: chocolate;
                }
            }

            .personInfo{
                font-size: 20px;
                margin-bottom: 2em;
            }

            .iconBox{

                .fa-brands{
                    margin-right: 20px;
                    font-size: 20px;
                    color: white;
                    padding: 20px;
                    border-radius: 100%;
                    background-color: #424242;
                }
            }
        }

        .seperator{
            align-self: flex-end;
        }
    }
}
// Person end

// Experience start
@media screen and (min-width: 993px) {

    #experience{
        height: 100vh;
        display: flex;
        flex-direction: column;

        padding-left: 3em;

        .experienceTitle{
            font-size: 40px;
            margin-bottom: 1em;
        }

        .experienceJobs{
            margin-bottom: 3em;

            .jobTitleBox{
                display: flex;
                justify-content: space-between;
                .jobName{
                    font-size: 25px;
                }
                .experienceDate{
                    margin-right: 3em;
                    color: chocolate;
                }
            }

            .work{
                font-size: 19px;
            }

            .jobInfo{
                width: 70%;
            }
        }
    }

}
// Experience end

// Education start

@media screen and (min-width: 993px) {

    #education{
        padding-left: 3em;

        .educationTitle{
            font-size: 40px;
            margin-bottom: 1em;
        }

        .graduationBox{

            .graduationTitleBox{
                margin-bottom: 1em;
                display: flex;
                justify-content: space-between;

                .graduationTitle{
                    font-size: 19px;
                }

                .graduationDate{
                    color: chocolate;
                    margin-right: 3em;
                }
            }

            .universityInfoBox{
                display: flex;
                flex-direction: column;
                margin-bottom: 4em;
                .professionName{
                    font-size: 15px;
                    color: #424242;
                }
            }
        }
    }

}
//Education end

// Skills start

@media screen and (min-width: 993px) {

    #skills{
        padding-left: 3em;

        
    }

}
//Skills end